body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

header {
  background-color: #f0fff0;
  padding-bottom: 50px;
}

.navbar #bg-light {
  background-color: #f8f9fa;
}

header .nav-item a {
  font-size: 16px;
  line-height: 24px;
  transition: 0.5s;
}

.navbar-light .navbar-nav .nav-link {
  color: #000000;
}
.navbar .button_style {
  background-color: #21b573;
  border-radius: 33px;
  width: 100px;
  height: 40px;
  padding: 8px 28px;
  text-align: center;
  color: #ffffff !important;
}

.navbar .button_style:hover {
  background-color: #01884b;
  transition: 0.5s;
}

.button_link {
  background-color: #21b573;
  color: white;
  border-radius: 33px;
  padding: 12px 28px;
  border: none;
}

.button_link:hover {
  background-color: #01884b;
  transition: 0.5s;
}

h3 {
  font-size: 24px;
  line-height: 36px;
  color: #413960;
}

.header_bottom_part {
  margin-top: 5%;
}
.header_bottom_part h6 {
  color: #fd511a;
  font-size: 16px;
  line-height: 24px;
}

.header_bottom_part h1 {
  font-weight: bold;
  font-size: 50px;
  line-height: 70px;
}

.header_bottom_part span {
  color: #21b573;
}

.header_bottom_part p {
  font-size: 16px;
  line-height: 36px;
  color: #6c6b6b;
}

.data_section {
  margin: 50px 0;
}

.data_section .card {
  width: 270px;
  height: 270px;
  background-color: #f8fffb;
  border: none;
  border-radius: 10px;
}

.box_style {
  background: #ffffff;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.data_section h3 {
  margin-top: 10%;
}

.data_section p {
  color: #585859;
  font-size: 16px;
  line-height: 24px;
}

.courses_section {
  margin: 50px 0;
}

.courses_section h2 {
  text-align: center;
  color: #413960;
  font-size: 36px;
  line-height: 54px;
  margin: 50px 0;
  font-weight: bold;
}

.courses_section .card {
  background: #ffffff;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  border: none;
}

.courses_section .card p,
.card span {
  font-size: 16px;
  line-height: 24px;
  color: #585859;
}

.courses_section .card-footer {
  border: none;
  background-color: #ffffff;
}

.courses_section .button_link {
  padding: 8px 28px;
}

.course_seats img,
.start_date img {
  width: 24px;
  height: 24px;
}

.testimonial_section {
  padding: 0 20%;
  margin: 50px 0;
}
.testimonial_section h2 {
  text-align: center;
  color: #000000;
  font-size: 36px;
  line-height: 54px;
  margin: 50px 0;
  font-weight: bold;
}

.testimonial_section p {
  text-align: left;
  color: #000000;
  font-size: 16px;
  line-height: 30px;
}
.testimonial_section img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 7%;
}

.newsletter_section {
  margin: 5% 20%;
}

.newsletter {
  margin: auto;
  padding: 7%;
  border-radius: 50px 0px 50px 0px;
  background-color: #f0fff0;
}

.newsletter .btn-primary {
  background-color: #21b573;
  border: none;
  margin-top: 2%;
  border-radius: 25px 0px 25px 0px;
}

.newsletter .btn-primary:hover {
  background-color: #01884b;
}

.footer_section {
  background-color: #000000;
  margin-top: 50px;
  padding: 5% 0 1% 0;
}

.footer_section .font-weight-bold {
  font-size: 18px;
  text-align: left;
}

.footer_section a {
  color: #ffffff;
  display: block;
  font-size: 18px;
  line-height: 30px;
}

.footer_section .text-left {
  padding: 0 9%;
}

.footer_section p {
  text-align: center;
  margin-top: 3%;
  color: #ffffff;
  font-size: 16px;
  line-height: 30px;
}